<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="YouTube 訂閱設定">
        <setting label="YouTube 訂閱清單 (以空白分隔)" type="text"   id="youtube_list" default="kyoko38 jjlin "/>
        <setting label="前一次播放清單" type="text"   id="prev_list" default="%PLURK_24HR%" visible="false" />
    </category>
</settings>

